
{{#if user}}
        
        
{{else}}
  <div class="jumbotron">
  <h1 class="display-4">Bem vindo ao blog</h1>
  <p class="lead">Blog criado com Node.js , Express e MongoDB.</p>
  <hr class="my-4">
  <p>Crie sua conta para aproveitar todos os nossos serviços.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/usuarios/registro" role="button">Crie uma conta</a>
  </p>
</div>

<hr>    
        
{{/if}}


<h2>Postagens recentes </h2>

{{#each postagens}}
<div class="card mt-4">
    <div class="card-body">
        <h3>{{titulo}}</h3>
        <p>{{conteudo}}</p>
        <a href="/postagem/{{slug}}">
        <button class="btn btn-success">Leia mais</button>
        </a>
        <hr>
        <small>Categoria: {{categoria.nome}}</small><br>
        <small>Data de publicação: {{data}}</small>
    </div>
</div>
{{else}}
    <h5>Nenhuma postagem</h5>
{{/each}}